@using Sklepix.Models.ViewModels
@model IndexVm
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Statistics</h1>
    <div style="width: 15%; margin-left: 42.5%;">
        <ul>
            <li>Categories: @Model.CategoriesCount</li>
            <li>Aisles: @Model.AislesCount</li>
            <li>Products: @Model.ProductsCount</li>
        </ul>
    </div>
</div>
