@using Sklepix.Models.ViewModels
@model CategoryVm
@{
    ViewData["Title"] = "Category details";
}

<a asp-action="Index" class="btn btn-success float-end">
    <span>Go back</span>
</a>

<h3>@Model.Name</h3>
<hr/>

@if(Model.Description == null)
{
    <span class="form-control text-danger">No description found</span>
} else {
    <span class="form-control">@Model.Description</span>
}