@page
@model SklepixIdentity.Areas.Identity.Pages.Account.RegisterModel
@{
}

<h1>You can't register on this service.</h1>
<br />
<a href="/Identity/Account/Login" class="btn btn-success">Login</a>
