@using Sklepix.Models.DataTransferObjects
@model AisleRowDto
@{
    ViewData["Title"] = "Create new aisle row";
}

<a asp-action="Details" asp-route-id="@Model.AisleId" class="btn btn-success float-end">
    <span>Go back</span>
</a>

<form asp-action="CreateRow" style="width:50%;height:50%;margin-left:25%;">
    <h2>Create aisle row</h2>
    <br />
    <input asp-for="AisleId" type="hidden" value="@Model.AisleId" />
    <div class="form-group">
        <label asp-for="RowNumber">
            <span>Row number</span>
        </label>
        <input asp-for="RowNumber" type="number" class="form-control" placeholder="Aisle row number..." />
        <span asp-validation-for="RowNumber" class="text-danger"></span>
    </div>
    <br />
    <input type="submit" class="form-control" value="Create new aisle row" />
</form>
