@using Sklepix.Models.ViewModels
@model UserVm
@{
    ViewData["Title"] = "User details";
}

<a asp-action="Index" class="btn btn-primary">
    <span>Go back</span>
</a>

<br />
<br />

<h3>@Model.Mail</h3>
<hr/>

@if(Model.Description == null)
{
    <span class="form-control text-danger">No description found</span>
} else {
    <span class="form-control">@Model.Description</span>
}