@using Sklepix.Models.ViewModels
@model ProductVm
@{
    ViewData["Title"] = "Product details";
}

<button onclick="window.location.href='@Url.Action("Index", "Products")'" type="button" class="btn btn-success float-end">
    <span>Go back</span>
</button>

<h3>@Model.Name</h3>
<hr/>

@if(Model.Description == null)
{
    <span class="form-control text-danger">No description found</span>
} else {
    <span class="form-control">@Model.Description</span>
}