@using Sklepix.Models.ViewModels
@model ProductVm
@{
    ViewData["Title"] = "Product details";
}

<a asp-action="Index" class="btn btn-success float-end">
    <span>Go back</span>
</a>

<h3>@Model.Name</h3>
<hr/>

@if(Model.Description == null)
{
    <span class="form-control text-danger">No description found</span>
} else {
    <span class="form-control">@Model.Description</span>
}

<br />

@if(Model.Category == null)
{
    <span class="text-danger">No category found</span>
} else {
    <span>Category: @Model.Category</span>
}

<br />

@if(Model.Aisle == null)
{
    <span class="text-danger">No aisle found</span>
} else {
    <span>Aisle: @Model.Aisle</span>
}